{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": ["./tsconfig.json"]
  },
  "plugins": ["jsx-a11y"],
  "extends": [
    "plugin:@shopify/typescript",
    "plugin:@shopify/react",
    "plugin:jsx-a11y/recommended",
    "plugin:@shopify/prettier"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ]
  }
}
